<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.renzhenming.appmarket">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    // JobService权限
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="com.rzm.commonlibrary.general.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.HomeActivity">
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="TestActivity" />
        <activity android:name=".TestSkinActivity">

        </activity>

        <service android:name=".test.MessageService">
            <intent-filter>
                <action android:name="com.renzhenming.getmessage" />
            </intent-filter>
        </service>
        <service
            android:name=".service.GuardService1"
            android:enabled="true"
            android:exported="true"
            android:process=":guardService1" />
        <service
            android:name=".service.GuardService2"
            android:enabled="true"
            android:exported="true"
            android:process=":guardService2" />
        <service
            android:name=".service.JobWakeUpService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"></service>
    </application>

</manifest>