<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.rzm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    // JobService权限
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- authorities:自定义名字 为避免重复建议设为：包名.fileprovider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.app.rzm.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.HomeActivity" />
        <activity
            android:name=".test.TestActivity"
            android:label="TestActivity" />
        <activity android:name=".test.TestSkinActivity" />
        <activity android:name=".test.TestProxyActivity" />
        <activity android:name=".test.TestCompressImageActivity" />

        <service
            android:name=".service.GuardService1"
            android:enabled="true"
            android:exported="true"
            android:process=":guardService1" />
        <service
            android:name=".service.GuardService2"
            android:enabled="true"
            android:exported="true"
            android:process=":guardService2" />
        <service
            android:name=".service.JobWakeUpService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".ui.selectimage.ChoosePictureActivity" />
        <activity android:name=".test.TestCoordinatorCollapsingToolbarActivity" />
        <activity android:name=".test.TestHookActivity_Registered" />
        <activity
            android:name=".ui.clip.ChooseVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.clip.VideoEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.clip.VideoPreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".test.TestObservableActivity" />
        <activity android:name=".test.TestBsPatchActivity" />
        <activity android:name=".test.TestItemDecorationActivity" />
        <activity android:name=".test.TestChatViewActivity" />
        <activity android:name=".test.TextCommonIndicatorActivity" />
        <activity
            android:name=".test.TestPasswordKeyboardActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".test.TestMyRecyclerViewActivity" />
        <activity android:name=".test.TextCustomeViewActivity" />
        <activity android:name=".test.TestAlphabetViewActivity" />
        <activity android:name=".test.TestHttpUtilsActivity" />
        <activity android:name=".test.TestSlidingViewActivity" />
        <activity android:name=".test.TestIOCViewBindActivity" />
        <activity android:name=".test.TestFixDexActivity" />
        <activity android:name=".test.TestCommonNavigationBarActivity" />
        <activity android:name=".test.TestPermissionHelperActivity" />
        <activity android:name=".test.TestCommonDialogActivity"></activity>
        <activity android:name=".test.TestDaoSupportActivity">

        </activity>
        <activity android:name=".test.TestFFmpegActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>