<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.rzm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    // JobService权限
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.app.rzm.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.app.rzm.ui.HomeActivity" />
        <activity
            android:name="com.app.rzm.TestActivity"
            android:label="TestActivity" />
        <activity android:name="com.app.rzm.TestSkinActivity" />
        <activity android:name="com.app.rzm.TestProxyActivity" />
        <activity android:name="com.app.rzm.TestImageActivity"></activity>

        <service android:name="com.app.rzm.test.MessageService">
            <intent-filter>
                <action android:name="com.renzhenming.getmessage" />
            </intent-filter>
        </service>
        <service
            android:name="com.app.rzm.service.GuardService1"
            android:enabled="true"
            android:exported="true"
            android:process=":guardService1" />
        <service
            android:name="com.app.rzm.service.GuardService2"
            android:enabled="true"
            android:exported="true"
            android:process=":guardService2" />
        <service
            android:name="com.app.rzm.service.JobWakeUpService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name="com.app.rzm.ui.selectimage.ChoosePictureActivity" />
        <activity android:name="com.app.rzm.TestCoordinatorCollapsingToolbarActivity" />
        <activity android:name="com.app.rzm.TestHookActivity_Registered" />
        <activity
            android:name="com.app.rzm.TestCustomRecyclerViewActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.app.rzm.ui.clip.ChooseVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.rzm.ui.clip.VideoEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.app.rzm.ui.clip.VideoPreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.app.rzm.TestObservableActivity">

        </activity>
    </application>

</manifest>